/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root{
    --theme : #3b82f6;
}


* {
    scroll-behavior: smooth;
    transition: 25ms all;
}



*::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
    width: 5px;
    border: 1px solid transparent;
    border-radius: 100px;
}


*::-webkit-scrollbar:hover {
    border: 1px solid #bbf7d0;
    cursor: pointer;
}


*::-webkit-scrollbar-thumb {
    background-color: #bbf7d0;
    border-radius: 100px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {

    background-color: #ccc;
}



/* Remove Arrows/Spinners OR 
how to remove up down arrow in input type number
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



#crouselHolderDiv {
    /* height: 70vh; */
    width: 90%;
}



.withAllImp {
    width: 90vw !important;
}

.singleCrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 65vh;
}


.crouselBtn {
    align-self: center;
    border: 1px solid #bbf7d0;
    border-radius: 50%;
    color: #bbf7d0;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 1px;
    text-align: center;
    width: 30px;
    z-index: 9;
    position: absolute;

    scale: 1.3;
    transition: 0.5s all;
}


.crouselBtn:first-child:hover {
    padding-right: 15px;
}

.crouselBtn:last-child:hover {
    padding-left: 15px;
}

.crouselBtn:hover {
    scale: 1.7;
}


#singleCardHolder:hover>div>img {
    scale: 1.07;
    transition: 0.5s all;
}


#headingOfProduct {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}



/* #user_single_img>button {
    visibility: hidden;
    opacity: .5;
    transition: all 0.4s;
}

#user_single_img:hover >button {
    visibility: visible;
    opacity: 1;
} */


#single_order_div>p {
    transition: 0.7s all;
}

#single_order_div:hover>p {
    transform: translateY(-20px);
}




/* Universal loader code -----> */

.universal_loader_holder{
    width: 90%;
}

.universal_loader {
    width: 0;
    height: 3px;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    background: var(--theme);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 3s linear infinite;
    z-index: 1000;
}

.universal_loader::after,
.universal_loader::before {
    content: '';
    color: var(--theme);
    width: 10px;
    height: 4px;
    border-radius: 100px;
    background: var(--theme);
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.4s linear infinite ;
    z-index: 1000;
}



.universal_loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.4s linear infinite ;
}




@keyframes animFw {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }

    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}






@media (max-width : 640px) {

    .withAllImp {
        width: 100vw !important;
    }

    #crouselHolderDiv {
        width: 100%;
    }

    .singleCrousel {
        height: 45vh;
    }

}