/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {
    scroll-behavior: smooth;
    /* transition: .2s all; */
}



*::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
    width: 5px;
    border: 1px solid transparent;
    border-radius: 100px;
}


*::-webkit-scrollbar:hover {
    border: 1px solid #bbf7d0;
    cursor: pointer;
}


*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 100px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {

    background-color: #bbf7d0;
}



/* Remove Arrows/Spinners OR 
how to remove up down arrow in input type number
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



#crouselHolderDiv {
    /* height: 70vh; */
    width: 90%;
}



.withAllImp {
    width: 90vw !important;
}

.singleCrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 65vh;
}


.crouselBtn {
    align-self: center;
    border: 1px solid #bbf7d0;
    border-radius: 50%;
    color: #bbf7d0;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 1px;
    text-align: center;
    width: 30px;
    z-index: 9;
    position: absolute;

    scale: 1.3;
    transition: 0.5s all;
}


.crouselBtn:first-child:hover {
    padding-right: 15px;
}

.crouselBtn:last-child:hover {
    padding-left: 15px;
}

.crouselBtn:hover {
    scale: 1.7;
}


#singleCardHolder:hover>div>img {
    scale: 1.07;
    transition: 0.5s all;
}


#headingOfProduct {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}



/* #user_single_img>button {
    visibility: hidden;
    opacity: .5;
    transition: all 0.4s;
}

#user_single_img:hover >button {
    visibility: visible;
    opacity: 1;
} */


#single_order_div > p{
    transition: 0.7s all;
}

#single_order_div:hover > p{
    transform: translateY(-20px);
}






@media (max-width : 640px) {

    .withAllImp {
        width: 100vw !important;
    }

    #crouselHolderDiv {
        width: 100%;
    }

    .singleCrousel {
        height: 45vh;
    }

}