doctype html
html
  head
    title= "Check jade"
    link(href='/css/check.css', rel='stylesheet')
    script(type='text/javascript').
      console.log('#{check}')
    body
      .check
        h1 Hello        
  
  
